.form-container {
    display:block;
    width:90%;
    padding:2em;
    margin: 2em auto;
}

.alert {
    background: #f2edda;
    padding: 7px;
    margin-bottom: 20px;
    display: inline-block;
}

.button {
    margin-top: 3rem;
}
h1 {
    margin-bottom: 2rem;
    font-weight:bold;
}

