<div *ngIf="!name; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      <div class="form-container">
        <div class="row columns">
  
          <h1>Enter your constrains here</h1>
  
          <label>Maximum clories per day
            <input type="number" formControlName="maxCal" id="inputMaxCal" placeholder="1500">
          </label>
          <div class="alert" *ngIf="!rForm.controls['maxCal'].valid && rForm.controls['maxCal'].touched">{{ titleAlert }}</div>  
          
          <p>Macro Molecules</p>
          <label>Carbohydrates
            <input type="number" formControlName="carbs" id="carbs" placeholder="200">
          </label>
          <div class="alert" *ngIf="!rForm.controls['carbs'].valid && rForm.controls['carbs'].touched">{{ titleAlert }}</div>  
          
          <label>Fats
            <input type="number" formControlName="fats" id="fats" placeholder="20">
          </label>
          <div class="alert" *ngIf="!rForm.controls['fats'].valid && rForm.controls['fats'].touched">{{ titleAlert }}</div>  
          
          <label>Proteins
            <input type="number" formControlName="proteins" id="proteins" placeholder="200">
          </label>
          <div class="alert" *ngIf="!rForm.controls['proteins'].valid && rForm.controls['proteins'].touched">{{ titleAlert }}</div>  
        
          <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
        </div>
      </div>
    </form>
  </div>
  
  <ng-template #forminfo>
    <div class="form-container">
      <div class="row columns">
          <p>{{ maxCal }}</p>
          <p>{{ carbs }}</p>
          <p>{{ fats }}</p>
          <p>{{ proteins }}</p>
      </div>
    </div>
  </ng-template>








