<div class="row custom-row">
    <div class= "col-sm-5 custom-container jumbotron">
         
      <form class="form-horizontal">
          <fieldset>
            <legend>Sign Up</legend>
        
              <!-- Password Block -->
              <div class="form-group">
                <label for="maxCal">Maximum clories per day</label>
                <input type="number"
                  id="inputMaxCal"
                  placeholder="1500">
              </div>
              <p>Macro Molecules</p>
              <div class="form-group">
                <label for="carbs" >Carbohydrates</label>
                <input type="number"
                  id="carbs"
                  placeholder="200">
              </div>
              <div class="form-group">
                  <label for="fats" >Fats</label>
                  <input type="number"
                    id="fats"
                    placeholder="20">
                </div>
                <div class="form-group">
                    <label for="proteins" >Proteins</label>
                    <input type="number"
                      id="proteins"
                      placeholder="200">
                  </div>
          
            
               
              <!--- Terms and conditions Block -->
               <div class="form-group checkbox">
                <label>
                  <input type="checkbox"> Confirm that you've read the Terms and 
                  Conditions
                </label>
              </div>
              
             <!--- Buttons Block -->
              <div class="form-group">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </fieldset>
      </form>
    </div>
  </div>